extends layout
block content
  div.container
    div.row
      div.col-xs-12
        div.product-header
          div.product-image
            img(src=product.imageLogo)
          div.product-body
            h1 #{ product.name }
            span #{ product.tagline }
          div.product-created
            span #{ product.createdAt }
        div.product-controls-wrapper
          ul.product-controls.list-inline.pull-left
            li
              a.btn.btn-danger(href=`${product.url}`) GET IT
            li
              a.btn.btn-default(href=`/edit/${product.id}`)
                i.fa.fa-pencil
                span EDIT
            li
              a.btn.btn-default(href=`/remove/${product.id}`)
                i.fa.fa-trash
                span DELETE

//- extends layout
//- block content
//-   div.container
//-     div.row
//-       div.col-xs-12
//-         div.product-header
//-           div.product-card-image
//-           img(src=product.imageLogo)
//-           div.product-card-body
//-             h1  #{ product.name }
//-             span #{ product.tagline }
//-           div.product-created
//-             p #{ product.createdAt }
//-           div.product-controller-btn
//-           a.btn.btn-danger(href=`${product.url}`) Get it
//-           a.btn.btn-danger(href=`/edit/${product.id}`) Edit
//-           a.btn.btn-danger(href=`/remove/${product.id}`) Delete
//- 
//-     
//-     
//-       
